* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: #535bf2;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
html {
  font-size: 18px;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  height: 100%;
  width: 100%;

  justify-content: center;
  /* background-color: #e8f4ea; */
  background-color: #f5f5f5;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
}

/* .header {
  display: flex;
  flex-direction: column;
} */

.header h1{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  padding: 1rem;
}
.header p{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding-left: 1rem;
}
.header-card {
  padding:20px;
}
.profile-image {
  width: 90px;
}

.job-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.intro-text {
  margin: 30px;
}
.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-card {
  margin: 25px 15px;
  width: 95vw;
  border-radius: 1rem;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
}

.project-card-top-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 1rem;
}

.project-icons {
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.bottom-row {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card-container {
  width: 90vw;
  height: 60vw;
  perspective: 1000px;
}
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  border-radius: 0.5rem;
  cursor: pointer;
}
.flip-card:hover {
  border: 1px solid #3498db;
  /* box-shadow: 0.5rem 0.5rem 0.5rem rgba(52, 152, 219, 0.2); */
}
.flip-card-front {
  background-color: #c9d7e4;
  position: relative; /* had to add this for tap-to-flip-icon */
}
.flipped {
  transform: rotateY(180deg); 
  position: absolute; /* this is needed to get it behind when flipped */
}
.flip-card-front, .flip-card-back {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.tap-to-flip-icon {
  position: absolute;
  color: black;
  width: 40px;
  right: 5px;
  bottom: 5px;
}
.flip-card-back {
  background-color: #517fa4;
  color: #fff;
  padding: 2rem;
  transform: rotateY(180deg);
}
.flip-card-back p{
  font-size: 0.8rem;;
}
.project-image {
  height: 90%;
  border-radius: 0.5rem;
}
.tech-list-label {
  font-weight: 500;
}
.tech-stack-container {
  display: flex;
  gap: 20px;
}

.tech-logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tech-logo img{
  height: 50px;
  max-width: 80px;
  border-radius: 4px;
}

.tech-title {
  position: absolute;
  opacity: 0;
  top: 100%;
  white-space: nowrap;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  padding: 5px;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none; /* stopped pop up when hovering on child of tech-logo-container */
}
.tech-logo-container:hover .tech-title {
  animation: fadeOut 3s ease-in-out;
}
@media (max-width: 400px) {
  .tech-logo img{
    height: 40px;
    max-width: 40px;
  }
  .tech-stack-container {
    gap: 5px;
  }

}
@media (min-width: 500px) {
  main {
    flex-direction: column;
  }
  .header h1 {
    font-size: 64px;
  }
  .header p{
    font-size: 38px;
  }
  .profile-image {
    width: 140px;
  }

}
@media (min-width: 650px) {
  .scroll-container {
    max-width: 700px;
  }
  .project-card {
    width: 580px;
    margin: 30px 30px;
  }
  .flip-card-container {
    width: 500px;
    height: 333.33px;
  }
  .tech-title {
    right: auto;
  }
  .tech-logo-container:hover .tech-title {
    opacity: 1;
    animation: none; /* Disable the animation on larger screens */
  }
  .tech-list-label {
    margin-right: 20px;
  }
  .flip-card-back p{
    font-size: 1rem;
  }

}

@media (min-width: 1200px) {
  main {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  .header {
    height: 100vh;
    position: sticky;
    top: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
  }
  .header-card {
    max-width: 400px;
    padding:5px;
  }
  .header h1 {
    font-size: 74px;
  }
  .header p{
    font-size: 48px;
  }
  .profile-image {
    width: 170px;
    padding-bottom: 20px;
  }
  .scroll-container {
    width: 60%;
  }


} 
/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
