* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}

body {
  height: 100%;
  width: 100%;
  justify-content: center;
  /* background-color: #e8f4ea; */
  background-color: whitesmoke;
}
main {
  display: flex;
  padding: 2rem;
  max-width: 1300px;
}
.header {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  /* border: orange solid 5px; */
}

.header h1{
  font-family: 'Poppins', sans-serif;
  font-size: 74px;
  font-weight: 500;
  padding: 1rem;
}
.header p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 48px;
  padding-left: 1rem;

}
.header-card {
  /* border: rgb(4, 236, 4) solid 2px; */
  max-width: 400px;
}
.profile-image {
  width: 170px;
  padding-bottom: 20px;
}
.job-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  /* border: black solid 2px; */
}
.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* border: black solid 2px; */
}
.intro-text {
  margin: 30px;
}
.project-list {
  width: 100%;
  /* border: blue solid 2px; */
}
.project-card {
  margin: 30px 30px;
  display: flex;
  flex-direction: column;

}
.project-image {
  max-width: 500px;
  border-radius: 8px;
  align-self: center;
  margin-top: 30px;
  
}
.project-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.project-card-top-line{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
}
.bottom-row {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-row p{
  font-weight: 500;
  margin-right: 20px;
}
.tech-stack-container {
  display: flex;
  gap: 20px;

}

.tech-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-logo {
  height: 50px;
  max-width: 80px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
/* .tech-title {
  position: absolute;
  top: 103%;
  left: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  padding: 5px;
  animation: fadeIn ease 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */


@media (max-width: 1200px) {
  .job-title-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* @media (max-width: 1040px) { needs to be header at the top up to here
  .job-title-container {
    flex-direction: column;
    align-items: flex-end; 
  }

} */